<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Binar Challenge FW C5</title>
	<style>
	body
	{
		background:#9C835F;
		font-family:arial;
		color:#F9B23D;
		padding: 100px;
	}
	h1
	{
		margin-bottom:30px;
	}
	a
	{
		color:#F9B23D;
	}
	</style>
</head>
<body>
	<h1>Hany Luqianie - Binar Challenge FW C5</h1>
	
	Binar Challenge 3 - <a href="http://localhost:2100/challenge-3">http://localhost:2100/challenge-3</a>
	<br>
	Binar Challenge 4 - <a href="http://localhost:2100/challenge-4">http://localhost:2100/challenge-4</a>
</body>
</html>